%html
  %head
    %title= t.title
    %link{ :rel => 'stylesheet', :href => 'style.css', :type => 'text/css', :media => 'screen', :charset => 'utf-8' }
    %link{ :rel => 'icon', :type => 'image/png', :href => 'favicon.png' }
    <script type="text/javascript" src="http://use.typekit.com/utt1owf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  %body
    #wraper
      #header  
        %ul
          %li
            %a{ :href => '#manifesto' }= t.menu.manifesto
          %li
            %a{ :href => '#work' }= t.menu.work 
          %li
            %a{ :href => '#contact' }= t.menu.contact
          %li
            %a{ :href => 'http://github.com/biesiad' } github
          %li
            %a{ :href => 'http://twitter.com/biesiad' } twitter 

      #content
        .xses
        #shadows

        %img.logo{ :src => 'images/logo.png' }
        
        #manifesto
          .separator &nbsp;
          %h1
            %p= t.manifesto.line1
            %p= t.manifesto.line2

        #work
          .separator
          %a{ :href => 'http://laundryqueue.heroku.com' }
            %h2 LaundryQueue
          .wraper
            %a{ :href => 'http://laundryqueue.heroku.com' }
              %img.with-shadow{ :src => 'images/laundryqueue.png', :alt => 'LaundryQueue' }
          %p.brief= t.laundryqueue.brief
          %p.tech
            Tech:&nbsp; 
            %span> Ruby on Rails
            ,
            %span Javascript
            ,
            %span jQuery 

          %a{ :href => 'images/oskmichalski_big.png' }
            %h2 OSK Michalski 
          .wraper
            %a{ :href => 'images/oskmichalski_big.png' }
              %img.with-shadow{ :src => 'images/oskmichalski.jpg', :alt => 'OSKMichalski' }
          %p.brief= t.oskmichalski.brief 
          %p.tech
            Tech:&nbsp;
            %span> CSS
            ,
            %span Javascript
            ,
            %span jQuery

          %a{ :href => 'http://www.teamtracker.com' }
            %h2 Teamtracker 
          .wraper
            %a{ :href => 'http://www.Teamtracker.com' }
              %img.with-shadow{ :src => 'images/teamtracker.png', :alt => 'Teamtracker' }
          %p.brief= t.teamtracker.brief 
          %p.tech
            Tech:&nbsp;
            %span> Google Maps
            ,
            %span Javascript 
            ,
            %span jQuery

        #contact
          .separator &nbsp;
          #address
            %p.new.title Grzegorz Biesiadecki
            %p contact&nbsp;(at)&nbsp;rushbean.com
            %p tel.: +48 605 33 22 32
          %div{ :style => 'clear: both;' }

      #footer
        %div
          %p Copyright &copy; 2010 rushbean.com
          %p
            %a{ :href => '#manifesto' }= t.menu.manifesto 
            %a{ :href => '#work' }= t.menu.work 
            %a{ :href => '#contact' }= t.menu.contact 
            %a{ :href => 'http://github.com/biesiad' } github
            %a{ :href => 'http://twitter.com/biesiad' } twitter 
        %div{ :style => 'clear: both;' }
      
      :plain
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-19997735-2']);
          _gaq.push(['_setDomainName', '.rushbean.com']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
