%html
  %head
    %title= t.title
    %link{ :rel => 'stylesheet', :href => 'style.css', :type => 'text/css', :media => 'screen', :charset => 'utf-8' }
    %link{ :rel => 'icon', :type => 'image/png', :href => 'favicon.png' }
    
  %body
    #wraper
      #header  
        %ul
          %li
            %a{ :href => '#manifesto' }= t.menu.manifesto
            \ ::
          %li
            %a{ :href => '#work' }= t.menu.work 
            \ ::
          %li
            %a{ :href => '#contact' }= t.menu.contact
            -#\ ::
          -#%li
            -#%a{ :href => 'http://biesiad.rushbean.com' }= t.menu.blog 

      #content
        .xses
        #shadows
        #badge 
        %img{ :src => 'images/logo.png' }
        
        #manifesto
          .separator &nbsp;
          %h1
            %p= t.manifesto.line1
            %p= t.manifesto.line2

        #work
          .separator
          %a{ :href => 'http://www.laundryqueue.com' }
            %h2 LaundryQueue
          .wraper
            %a{ :href => 'http://www.laundryqueue.com' }
              %img.with-shadow{ :src => 'images/laundryqueue.png', :alt => 'LaundryQueue' }
          %p.brief= t.laundryqueue.brief
          %p.tech
            Tech:&nbsp; 
            %span> Ruby on Rails
            ,
            %span Javascript
            ,
            %span jQuery 

          %a{ :href => 'http://www.oskmichalski.pl' }
            %h2 OSK Michalski 
          .wraper
            %a{ :href => 'http://www.oskmichalski.pl' }
              %img.with-shadow{ :src => 'images/oskmichalski.jpg', :alt => 'OSKMichalski' }
          %p.brief= t.oskmichalski.brief 
          %p.tech
            Tech:&nbsp;
            %span> CSS
            ,
            %span Javascript
            ,
            %span jQuery

          %a{ :href => 'http://www.teamtracker.com' }
            %h2 Teamtracker 
          .wraper
            %a{ :href => 'http://www.Teamtracker.com' }
              %img.with-shadow{ :src => 'images/teamtracker.png', :alt => 'Teamtracker' }
          %p.brief= t.teamtracker.brief 
          %p.tech
            Tech:&nbsp;
            %span> Google Maps
            ,
            %span Javascript 
            ,
            %span jQuery

        #contact
          .separator &nbsp;
          #form
            -#%form{ :action => '', :method => 'post' }    
              -#%p
                -#%label{ :for => 'name' }= t.contact.form.name
                -#%input#name{ :type => 'text' }
              -#%p
                -#%label{ :for => 'email' }= t.contact.form.email
                -#%input#email{ :type => 'text' }
              -#%p
                -#%label{ :for => 'message' }= t.contact.form.message
                -#%textarea#message
              -#%p
                -#%input#send{ :type => 'submit', :value => t.contact.form.submit }

          #address
            -#%p= t.contact.info
            %p.new.title Grzegorz Biesiadecki
            %p
              %a{ :href => 'mailto:contact@rushbean.com' } contact@rushbean.com
            %p tel.: +48 605 33 22 32
          %div{ :style => 'clear: both;' }

      #footer
        %div
          %p Copyright &copy; 2010 rushbean.com
          %p
            %a{ :href => '#manifesto' }= t.menu.manifesto 
            %a{ :href => '#work' }= t.menu.work 
            %a{ :href => '#contact' }= t.menu.contact 
            -#%a{ :href => 'http://biesiad.rushbean.com' }= t.menu.blog 
        %div{ :style => 'clear: both;' }
      
      :plain
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type=text/javascript>$SCRIPT_ROOT = "";</script>
        <script type="text/javascript" src="http://use.typekit.com/utt1owf.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src=/script.js></script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-19997735-2']);
          _gaq.push(['_setDomainName', '.rushbean.com']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
